<div mat-dialog >
    <div  mat-dialog-content>
        <form [formGroup]="starCastForm" class="example-form">
           
            <mat-form-field class="example-full-width w-100" color="accent">
                <mat-label>Star Cast Name</mat-label>
            <input  type="text" id="starcastname"  matInput formControlName="starcastname" autocomplete="off" spellcheck="false">
                <mat-error *ngIf="starcastname.errors?.required">
                    Star Cast name is <strong>required</strong>
                </mat-error>
                
                
            </mat-form-field>
    
        </form>
        <br>
        <hr>
        
    </div>
    <div mat-dialog-actions class="d-flex justify-content-end">
        <button mat-button (click)='cancel()'>Cancel</button>
        <button class="btn saveBtn" mat-button [disabled]="starCastForm.invalid " (click)="confirm()">{{action}}</button>
    </div>
</div>

