.movieContent{
    background-color:lightskyblue;
}
.userContent{
    background-color:lightpink;
}
.starContent{
    background-color:lightgrey;
}
.genreContent{
    background-color:lavender;
}
.icon{
    font-size: 40px;
    height: 40px;
    width: 40px;
    line-height: 40px;

}